[Unit]
Description=Live Enviroment Setup
Before=graphical.target

[Service]
Type=simple
ExecStart=/root/customize_airootfs.sh

[Install]
WantedBy=graphical.target
